@import "tailwindcss";

.background {
    background-color: #FFFFFF;
}

.burdeos {
    background-color: #7A1E2D;
}

.burdeos-dark {
    background-color: #5A1622;
}

.text {
    color: #2E2E2E;
}

.burdeos-text {
    color: #7A1E2D;
}

.secondary-background {
    background-color: #F5F5F5;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 48px;
    color: #2E2E2E;
}

h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 32px;
    color: #2E2E2E;
}

h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 24px;
    color: #2E2E2E;
}